@font-face {
    font-family: 'Source Han Sans CN-Regular';
    src: url('../assets/fonts/SourceHanSansCN-Regular.woff2') format('woff2'),
        url('../assets/fonts/SourceHanSansCN-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Han Sans CN-Bold';
    src: url('../assets/fonts/SourceHanSansCN-Bold.woff2') format('woff2'),
        url('../assets/fonts/SourceHanSansCN-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}