@use 'variables' as *;

// 全局字体样式 混入
// 说明文字 深色  思源黑体 CN  24
@mixin global-font-descriptionDark() {
    font-size: $font-size-description;
    font-family: $font-family-regular;
    font-weight: Regular;
    letter-spacing: $letter-spacing-base;
    color: $black;
}

// 说明文字 浅色  思源黑体 CN  24
@mixin global-font-descriptionLight() {
    font-size: $font-size-description;
    font-family: $font-family-regular;
    font-weight: Regular;
    letter-spacing: $letter-spacing-base;
    color: $light-gray;
}

// 正文  思源黑体 CN  20
@mixin global-font-main_body() {
    font-size: $font-size-body;
    font-family: $font-family-regular;
    font-weight: Regular;
    letter-spacing: $letter-spacing-base;
}

// 正文加粗  思源黑体 CN  20
@mixin global-font-mainBodyBold() {
    font-size: $font-size-body;
    font-family: $font-family-bold;
    font-weight: Bold;
    letter-spacing: $letter-spacing-base;
}

// 已完成 思源黑体 CN  20
@mixin global-font-done() {
    color: $light-gray;
    font-family: $font-family-regular;
    font-style: Regular;
    font-size: $font-size-body;
    font-weight: 400;
    line-height: $line-height-body;
    letter-spacing: $letter-spacing-base;
    text-align: left;
    text-decoration-line: line-through;
}


// 全局按钮样式 混入
// 按钮外侧阴影 - 左侧
@mixin global-box-shadow-selection-box-left() {
    border: $border-base;
    /* Outer shadow - on the left side of the selection b */
    box-shadow: -4px 4px 0px 0px $black;
}

// 按钮外侧阴影 - 右侧
@mixin global-box-shadow-selection-box-right() {
    border: $border-base;
    /* Outer shadow - on the right side of the selection b */
    box-shadow: 4px 4px 0px 0px $black;
}

// 全局边框样式 混入
// 边框外侧阴影 - 右侧边框
@mixin global-box-shadow-border-right($has-shadow: true) {
    border-radius: 10px 10px 10px 10px;

    @if $has-shadow {
        /* Outer shadow - Right side of the border */
        box-shadow: 6px 8px 0px 0px $black;
    }

    @else {
        box-shadow: none;
    }

    transition: box-shadow 0.5s ease;
}