// 工具类
.fill-pure-white-23_103 {
        background-color: rgba(255, 255, 255, 1)
}

.effect-outer-shadow---right-side-of-the-border-23_83 {
        box-shadow: 6px 8px 0px 0px rgba(0, 0, 0, 1)
}

.stroke-black-23_79 {
        border-color: rgba(0, 0, 0, 1)
}

.fill-bright-pink-23_71 {
        background-color: rgba(248, 152, 152, 0.8500000238418579)
}

.fill-black-23_79-paragraph {
        color: rgba(0, 0, 0, 1)
}

.text-font---main-text-23_89 {
        font-size: 20px;
        font-family: "Source Han Sans CN-Regular";
        font-weight: Regular;
        letter-spacing: 0.03999999910593033px
}

.fill-bright-green-23_75 {
        background-color: rgba(160, 193, 152, 1)
}

.fill-luminous-yellow-22_7 {
        background-color: rgba(246, 230, 22, 0.8500000238418579)
}

.fill-black-23_79-text {
        color: rgba(0, 0, 0, 1)
}

.fill-orange-23_73 {
        background-color: rgba(255, 71, 0, 0.550000011920929)
}

.text-font---main-text-in-bold-40_15 {
        font-size: 20px;
        font-family: "Source Han Sans CN-Bold";
        font-weight: Bold;
        letter-spacing: 0.03999999910593033px
}

.fill-jade-green-23_77 {
        background-color: rgba(160, 193, 152, 0.4000000059604645)
}

.fill-light-gray-23_81-paragraph {
        color: rgba(153, 153, 153, 1)
}

.text-font---descriptive-text-23_87 {
        font-size: 24px;
        font-family: "Source Han Sans CN-Regular";
        font-weight: Regular;
        letter-spacing: 0.03999999910593033px
}

.fill-pale-yellow-23_69 {
        background-color: rgba(255, 251, 240, 1)
}