// 所选颜色
$pure-white: rgba(255, 255, 255, 1);
$jade-green: rgba(160, 193, 152, 0.4);
$bright-green: rgba(160, 193, 152, 1);
$orange: rgba(255, 71, 0, 0.550000011920929);
$bright-pink: rgba(248, 152, 152, 0.85);
$light-gray: rgba(153, 153, 153, 1);
$pale-yellow: rgba(255, 251, 240, 1);
$luminous-yellow: rgba(246, 230, 22, 0.8500000238418579);
$black: rgba(0, 0, 0, 1);

// 字体变量
$font-family-regular: 'Source Han Sans CN-Regular';
$font-family-bold: 'Source Han Sans CN-Bold';
$font-size-description: 2.4rem;
$font-size-body: 2rem;
$line-height-description: 3.6rem;
$line-height-body: 3rem;
$letter-spacing-base: .004rem;

// 边框基础样式
$border-width-base: 2px;
$border-style-base: solid;
$border-base: var($border-width-base) var($border-style-base) var($black);