<!DOCTYPE html>
<html lang="zh-CN">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <head>
    <meta charset="UTF-8" />
    <title>deeptodos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}" />
  </head>

  <body onload="getDayofWeek()">
    <div class="container" >
      <div class="header-container" >
        <h1 class="page-title" id="displayDayofWeek"></h1>

        <div class="dropdown">
          <button class="dropbtn" id="username"></button>
          <div class="dropdown-content">
            <a onclick="switchLanguage('zh')">中文</a>
            <a onclick="switchLanguage('en')">English</a>
            <a onclick="changePassword()">修改密码</a>
            <a onclick="logout()" data-i18n="todos_logout">注销</a>
          </div>
        </div>
      </div>

      <!-- 视图切换 -->
      <div class="view-switch">
        <button onclick="switchView('day')" data-i18n="todos_day_view">日视图</button>
      </div>

      <!-- 日视图 -->
      <div id="dayView">
        <div class="date-nav">
          <button onclick="changeDate(-1)" data-i18n="todos_last_day">← 前一天</button>
          <input type="date" id="datePicker" onchange="loadTasks()" />
          <button onclick="changeDate(1)" data-i18n="todos_next_day">后一天 →</button>
          <button onclick="returnCurrentDateTasks()" data-i18n="todos_return_current_date">返回当天</button>
          <button onclick="switchView('myTasks')" data-i18n="todos_my_tasks_view">我的任务</button>
        </div>
        <div class="input-group">
          <input type="text" id="taskInput" placeholder="输入新任务..." data-i18n-placeholder="todos_new_task_placeholder" />
          <button onclick="addTask()" data-i18n="todos_add">添加</button>
        </div>
        <ul id="currentDayTaskList"></ul>
      </div>

      <!-- 全部未完成任务视图 -->
      <div id="myTasksView">
        <ul id="allUnfinishedTaskList"></ul>
        <ul id="allFinishedTaskList"></ul>
      </div>
     
    </div>

    <script src="static/js/tasks.js"></script>
  </body>
</html>
