// 所选颜色
$PureWhite: rgba(255, 255, 255, 1);
$JadeGreen: rgba(160, 193, 152, 0.4);
$BrightGreen: rgba(160, 193, 152, 1);
$Orange: rgba(255, 71, 0, 0.550000011920929);
$BrightPink: rgba(248, 152, 152, 0.85);
$LightGray: rgba(153, 153, 153, 1);
$PaleYellow: rgba(255, 251, 240, 1);
$LuminousYellow: rgba(246, 230, 22, 0.85);
$Black: rgba(0, 0, 0, 1);

// 字体变量
$font-family-primary: 'Source Han Sans CN', sans-serif;
$font-size-description: 2.4rem;
$font-size-body: 2rem;
$line-height-description: 3.6rem;
$line-height-body: 3rem;
$letter-spacing-base: .004rem;

// 边框基础样式
$border-width-base: .2rem;
$border-style-base: solid;
$border-base: var($border-width-base) var($border-style-base) var($Black);